@media screen and (min-width: 480px) {
  .header {
    border-bottom: 1px solid #ececec;
  }
  .border-hidden {
    border-bottom: 0;
  }
  .nav-flex {
    display: flex;
    align-items: center;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid #ececec;
  }
  .border-hidden {
    border-bottom: 0;
  }
  .nav-flex {
    display: flex;
    align-items: center;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
